.main-nav {
  background: #1B1B1B;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.sub-nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
}

.link-container {
  width: 100px;  
}

.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  color: darkgray;
}

.sub-nav-link {
  text-decoration: none;
  color: #1B1B1B;
}

.sub-nav-link:hover {
  color: #1AA8BE;
}